body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:81px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:840px;
  top:31px;
  width:60px;
  height:14px;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:796px;
  top:28px;
  width:32px;
  height:21px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:925px;
  top:23px;
  width:30px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
