body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:40px;
  top:0px;
  width:40px;
  height:39px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:831px;
  top:7px;
  width:24px;
  height:27px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:43px;
  width:900px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:891px;
  top:-5px;
  width:14px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u6 {
  position:absolute;
  left:243px;
  top:10px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:774px;
  top:15px;
  width:22px;
  height:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:787px;
  top:8px;
  width:10px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:307px;
  top:10px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:367px;
  top:11px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:803px;
  top:7px;
  width:26px;
  height:25px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:530px;
  width:800px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:51px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:57px;
  width:800px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:51px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:75px;
  top:64px;
  width:28px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:314px;
  top:64px;
  width:17px;
  height:17px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:123px;
  top:73px;
  width:335px;
  height:17px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:730px;
  top:75px;
  width:60px;
  height:17px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:785px;
  top:68px;
  width:17px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
