body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:81px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:150px;
  top:22px;
  width:129px;
  height:37px;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:100px;
  top:15px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:749px;
  top:32px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:835px;
  top:32px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:692px;
  top:33px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:75px;
  width:1000px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:991px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:80px;
  width:1000px;
  height:420px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:420px;
}
#u15 {
  position:absolute;
  left:2px;
  top:202px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:80px;
  width:1000px;
  height:420px;
  opacity:0.8;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:421px;
}
#u17 {
  position:absolute;
  left:2px;
  top:202px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:529px;
  top:183px;
  width:210px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:51px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:539px;
  top:184px;
  width:190px;
  height:39px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:530px;
  top:250px;
  width:210px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:51px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:540px;
  top:251px;
  width:190px;
  height:39px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:530px;
  top:330px;
  width:210px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:51px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:60px;
  top:109px;
  width:400px;
  height:148px;
  font-family:'华文隶书 Regular', '华文隶书';
  font-weight:400;
  font-style:normal;
  font-size:70px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:149px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:60px;
  top:290px;
  width:480px;
  height:62px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:63px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:60px;
  top:334px;
  width:480px;
  height:40px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:375px;
  width:480px;
  height:40px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:2980px;
  width:1000px;
  height:80px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:81px;
}
#u36 {
  position:absolute;
  left:2px;
  top:32px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:270px;
  top:3010px;
  width:479px;
  height:20px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:2870px;
  width:1000px;
  height:110px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:111px;
}
#u40 {
  position:absolute;
  left:2px;
  top:47px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:47px;
  top:2906px;
  width:411px;
  height:44px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:45px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:809px;
  top:2912px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:764px;
  top:184px;
  width:136px;
  height:140px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:140px;
}
#u46 {
  position:absolute;
  left:2px;
  top:62px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:60px;
  top:422px;
  width:520px;
  height:40px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:41px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:501px;
  width:1000px;
  height:89px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:90px;
}
#u50 {
  position:absolute;
  left:2px;
  top:36px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:806px;
  top:532px;
  width:100px;
  height:14px;
  font-size:24px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:764px;
  top:534px;
  width:32px;
  height:21px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:930px;
  top:531px;
  width:30px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:61px;
  top:542px;
  width:31px;
  height:7px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:7px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:98px;
  top:532px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:229px;
  top:537px;
  width:31px;
  height:17px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:271px;
  top:532px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:406px;
  top:531px;
  width:31px;
  height:27px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:447px;
  top:532px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:0px;
  top:591px;
  width:1000px;
  height:509px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:509px;
}
#u70 {
  position:absolute;
  left:2px;
  top:246px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:80px;
  top:841px;
  width:29px;
  height:39px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:39px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:890px;
  top:849px;
  width:33px;
  height:35px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:90px;
  top:1180px;
  width:270px;
  height:260px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:260px;
}
#u76 {
  position:absolute;
  left:2px;
  top:122px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:450px;
  top:1180px;
  width:473px;
  height:270px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:271px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:80px;
  top:1520px;
  width:840px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u80 {
  position:absolute;
  left:570px;
  top:1580px;
  width:330px;
  height:290px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:290px;
}
#u81 {
  position:absolute;
  left:2px;
  top:137px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:80px;
  top:1580px;
  width:480px;
  height:290px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:291px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:70px;
  top:1940px;
  width:840px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u85 {
  position:absolute;
  left:90px;
  top:1970px;
  width:330px;
  height:300px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:300px;
}
#u86 {
  position:absolute;
  left:2px;
  top:142px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:450px;
  top:1970px;
  width:450px;
  height:300px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:301px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:2300px;
  width:1000px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:991px;
  top:-5px;
  width:14px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1000px;
  height:4px;
}
#u90 {
  position:absolute;
  left:0px;
  top:2307px;
  width:1000px;
  height:563px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:563px;
}
#u91 {
  position:absolute;
  left:2px;
  top:274px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
